.wrapper{
    display: flex;
}

.ul{
    list-style: none;
}

.li{
    display: flex;
    align-items: center;
    gap:0.5rem;
}

.name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 50%;
}